<% this.title = video.title + ' - 视频'; %>
<% include header %>

<body>
    <h1><%= video.title %><%= video.problem_id ? ' - Problem ' + video.problem_id : '' %></h1>
    <p><%= video.description %></p>
    <div style="max-width: 100%; margin-left: auto; margin-right: auto;">
        <video controls crossorigin></video>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const source = '<%= video.url %>';
            const video = document.querySelector('video');
            const player = new Plyr(video, {
                keyboard: { focused: true, global: true }
            });
            if (!Hls.isSupported()) {
                video.src = source;
            } else {
                const hls = new Hls();
                hls.loadSource(source);
                hls.attachMedia(video);
                window.hls = hls;
                player.on('languagechange', () => {
                    setTimeout(() => hls.subtitleTrack = player.currentTrack, 50);
                });
            }

            // Expose player so it can be used from the console
            window.player = player;
        });
    </script>

</body>

</html>
<% include footer %>