<% this.title = video.title + ' - 视频'; %>
<% include header %>
<body>
    <h1><%= video.title %><%= video.problem_id ? ' - Problem ' + video.problem_id : '' %></h1>
    <p><%= video.description %></p>
    <div style="position: relative; width: 100%; height: 75vh;">
        <video id="videoPlayer" class="video-js vjs-default-skin" controls preload="auto" style="width: 100%; height: 100%; object-fit: contain;">
            <source src="<%= video.url %>" type="application/x-mpegURL">
        </video>
    </div>
    <script>
        var player = videojs('videoPlayer');
    </script>
</body>
</html>
<% include footer %>